
@import '../colors';

.extensionDropdown {
    all: initial;
    display: block;
    margin: 0;
    padding: 0 40px;
    border-top: 1px solid $gray-borders;
    border-bottom: 1px solid $gray-borders;

    & .header{
        align-items: center;
        display: inline-flex;
        cursor: pointer;
        padding: 8px 0;
        min-height: 46px !important;
        height: 46px !important;
    
        & img{
            height: 30px;
        }
    
        & span{
            width: 170px;
        }

        &:hover {
            font-weight: 300;
            font-style: italic;
        }
    }

    & .body{
        border-top: 1px solid $gray-borders;
        padding: 18px 0;
    }

    &.lineSpaced{
        margin-top: 12px;
    }

    &.first{
        border-top: 2px solid $gray-borders;
    }

    &.last{
        border-bottom: 2px solid $gray-borders;
    }
    
}

