
@import '../colors';

.checkbox-wrapper {

  margin: 0;
  border: 0;
  border-top: 1px solid $gray-borders;
  padding: 12px 24px;
  text-align: left;

  &:first-of-type{
    border-top: 0;
    padding-top: 0;
  }

  &:last-of-type{
    padding-bottom: 0;
  }

  & .checkbox{
    align-items: center;
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 0;

    & input[type="checkbox"] {
      margin: 0;
      padding: 0;
      -webkit-appearance: none;
      appearance: none;
      width: 1.3em;
      height: 1.3em;
      border-radius: 0.15em;
      margin-right: 5px;
      border: 0.1em solid $primary-color;
      outline: none;
      cursor: pointer;
      display: inline-block;
      filter: drop-shadow(0 0 0);
      transition: 0.2s ease;
      position: absolute;

      &.checked {
        background-color: $primary-color !important;
      }

      &.checked::before {
        content: "\2714";
        font-size: 1.1em;
        color: $secondary-color;
        right: 1px;
        top: -2px;
      }

      &:hover{
        filter: drop-shadow(0 0 3px $primary-color);
        transition: 0.2s ease;
      }
    }

    & span{
      cursor: pointer;
      color: $primary-color;
      margin-left: 18px;

      &:hover{
        text-decoration: underline;
      }
    }


  }

}

