.evaluation_section{
  padding: 0 20px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.evaluation_section .header {
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  padding: 10px 0;
}

.evaluation_section .header img{
  height: 30px;
}

.evaluation_section .header span{
  width: 170px;
}

.evaluation_section .button{
  cursor: pointer;
  padding: 8px 12px;
  font-weight: bold;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  border-radius: 5px;
  border: 2px solid #005a6a;
  filter: drop-shadow(0 0 0 #005a6a) brightness(1);
  transition: 0.2s ease;
}

.evaluation_section .button:hover {
  filter: drop-shadow(0 0 1px #005a6a) brightness(1.1);
  transition: 0.2s ease;
}

.evaluation_section .primary{
  background-color: #005a6a;
  color: white;
}

.evaluation_section .secondary{
  background-color: white;
  color: #005a6a;
  font-style: italic;
}

.evaluation_section .body{
  border-top: 1px solid #c6c6c6;
  padding: 20px 0;
}

#btn_get_data{
  margin-bottom: 9px;
}

#btn_clear_data{
  margin-bottom: 20px;
}

#btn_download {
  margin-bottom: 9px;
}

#btn_upload input{
  display: none;
}


