
.react_chrome_extension *{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.react_chrome_extension{
  all: initial;
  padding: 20px 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: fixed; 
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  animation: slide-in 0.3s forwards;
  z-index:99998;
}

.react_chrome_extension.hidden {
  animation: slide-out 0.3s forwards;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.react_chrome_extension .close_icon {
  font-size: 25px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 10px;
  left: 220px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@keyframes slide-in {
  from { left: -245px; }
  to { left: 0px; }
}

@keyframes slide-out {
  from { left: 0px; }
  to { left: -245px; }
}

.hidden_extension_logo{
  all: initial;
  position: fixed;
  top: calc(50vh - 25px);
  left: -25px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid cyan;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 0 0) brightness(0.6);
  transition: 0.2s ease;
  z-index:99999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.hidden_extension_logo:hover {
  filter: drop-shadow(0 0 2px #005a6a) brightness(1);
  transition: 0.2s ease;
}

.react_chrome_extension .img_container{
  all: initial;
  display: block;
  align-self: center;
  text-align: center;
}

.react_chrome_extension .img_container img{
  all: initial;
  height: 100px;
  border-radius: 20px;
  border: 2px solid #005a6a;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 0 0) brightness(1);
  transition: 0.2s ease;
}

.react_chrome_extension .img_container img:hover {
  filter: drop-shadow(0 0 2px #005a6a) brightness(1.1);
  transition: 0.2s ease;
}

