

.resultsContainer{
  text-align: center;
}



/* SUMMARY TABLE */
.resultsContainer .summaryTable{
  border: 2px solid #005a6a;
  margin-bottom: 15px;
  display: inline-block;
}
.resultsContainer .summaryTable th, .resultsContainer .summaryTable td{
  width: 45px;
  border: none;
  border-right: 1px solid #c6c6c6;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  cursor: default;
}
.resultsContainer .summaryTable tr:first-of-type{
  border-bottom: 1px solid #c6c6c6;
}
.resultsContainer .summaryTable th:last-of-type, .resultsContainer .summaryTable td:last-of-type{
  border-right: 0;
}

  

/* RESULTS TABLE */
.resultsContainer .resultsTable{
  border: 2px solid #005a6a;
  overflow-y: auto;
  max-height: 50vh;
}
.resultsContainer .resultsTable::-webkit-scrollbar {
  width: 3px;
}
.resultsContainer .resultsTable::-webkit-scrollbar-track {
  background: transparent;
}
.resultsContainer .resultsTable::-webkit-scrollbar-thumb {
  background: #005a6aaa;
  border-radius: 50px;
}



/* RESULTS TABLE HEADER */
.resultsContainer .resultsTable thead tr{
  padding: 10px 0;
}
.resultsContainer .resultsTable thead th{
  width: 6%;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  cursor: default; 
  position: sticky;
  top: 0px;
  border-bottom: 2px solid #005a6a;
  background-color: white;
  border-left: 1px solid #c0c0c0;
}
.resultsContainer .resultsTable thead th:first-of-type{
  width: 70%;
  border-left: none;
}



/* RESULTS TABLE BODY */
.resultsContainer .resultsTable tbody .collapsible{
  text-align: center;
  background-color: white;
  color:black;
  cursor: pointer;
  border: none;
  border-top: 1px solid #c0c0c0;
}
.resultsContainer .resultsTable tbody .collapsible td{
  border-left: 1px solid #c0c0c0;
  padding: 10px 0;
}
.resultsContainer .resultsTable tbody .collapsible td:first-of-type{
  text-align: left;
  padding-left: 6px;
  border-left: none;
}



.resultsContainer .resultsTable tbody .mainCategory td{
  font-weight: bold;
  font-size: 14px;
}
.resultsContainer .resultsTable tbody .mainCategory{
  border-top: 2px solid #005a6a;
}
.resultsContainer .resultsTable tbody .mainCategory:hover {
  background-color: #e7e7e7;
}




.resultsContainer .resultsTable tbody .subCategory td{
  font-weight: bold;
  font-size: 14px;
}
.resultsContainer .resultsTable tbody .subCategory{
  background-color: #e7e7e7;
}
.resultsContainer .resultsTable tbody .subCategory:hover {
  background-color: #c7c7c7;
}


.resultsContainer .resultsTable tbody .criteria td{
  font-weight: bold;
  font-size: 12px;
  padding: 8px 0;
}

.resultsContainer .resultsTable tbody .criteriaResult td{
  font-size: 10px;
  padding: 6px 0;
}
  

  
  
  
.codigo_analisis{
  white-space: normal;
  overflow-wrap: anywhere;
  background-color: #f7f7f9;
  color: #d14;
  cursor: pointer;
  border: 1px solid #e1e1e8;
}