.result_section{
  margin: 0;
  padding: 0 20px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 2px solid #c0c0c0;
  padding-bottom: 5px;
}

.result_section .header {
  padding-top: 15px;
  text-align: center;
}

.result_section .body {
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #c6c6c6;
}

.conformanceLevelSelector{
  align-items: center;
  text-align: center;
}

.level-container {
  margin-bottom: 15px;
  border: 1px solid #005a6a;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.conformanceLevel {
  display: inline-flex;
  padding: 8px 12px;
  border: 1px solid #005a6a;
  cursor: pointer;
  font-size: 11px;
  background-color: white;
  color: #005a6a;
  filter: drop-shadow(0 0 0) brightness(1);
  transition: 0.2s ease-in-out;
  font-style: italic;
}

.conformanceLevel.selected {
  background-color: #005a6a;
  color: white;
  font-style: normal;
}

.conformanceLevel:hover {
  filter: drop-shadow(0 0 1px #005a6a) brightness(1.1);
}

.result_section .body .table_container {
  border: 2px solid #005a6a;
  background-color: #f4f4f4;
  border-radius: 5px;
  overflow: hidden;
}




.summary_table{
	border-bottom: 1px solid #c0c0c0;
}
.summary_table th{
	text-align: center;
  color: black;
	width: 45px;
  font-size: 14px;
  font-weight: bold;
  cursor: default;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  background-color: #ffffff;
}

.results_table th{
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  padding: 1px;
}




.boton_tabla {
  border: none;
  background-color: inherit;
  font-size: 11px;
  cursor: pointer;
  display: inline-block;
  color: dodgerblue;
}

.boton_tabla:hover {background: #eee;}

.collapsible_tabla {
  background-color: #f4f4f4;
  color:black;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  border-top: 1px solid #c0c0c0;
  text-align: left;
  outline: none;
  font-size: 12px;
}

.active, .collapsible_tabla:hover, .collapsible_tabla2:hover {
  color: white !important;
  background-color: #00B4D5 !important;
}

.content_tabla {
  overflow: hidden !important;
  font-size: 10px !important;

}

.collapsible_tabla2 {
  background-color: #C7D1D3 !important;
  color:black !important;
  cursor: pointer !important;
  padding: 10px !important;
  width: 100% !important;
  border: none !important;
  text-align: left !important;
  outline: none !important;
  font-size: 10px !important;
}

.collapsible_tabla3 {
  color:black !important;
  cursor: pointer !important;
  padding: 10px !important;
  width: 100% !important;
  border: none !important;
  text-align: left !important;
  outline: none !important;
  font-size: 10px !important;
}
.collapsible_tabla3 table tr td{
  color: black !important;
}

/*
.collapsible_tabla,.collapsible_tabla2 td{
  white-space:nowrap !important;
}
*/
.collapsible_tabla{
  white-space:nowrap !important;
}
.collapsible_tabla table tr td{
  font-size: 12px !important;
  white-space:nowrap !important;
  background-color: inherit !important;
  color: black !important;


}

.tabla_resultados {
  width:100% !important;
  font-size:12px !important;
  overflow-wrap: anywhere !important;
}
.tabla_resultados th{
  height: 40px !important; 
}
.tabla_resultados td{
  padding-left:10px !important;
  font-size: 12px !important;
  overflow-wrap: anywhere !important;

}

.tabla_resultados code{
  overflow-wrap: anywhere !important;
  background-color: #f7f7f9;
  color: #d14;
  cursor: pointer;
  border: 1px solid #e1e1e8;
}



.codigo_analisis{
  overflow-wrap: anywhere !important;
  white-space: normal !important;

}