
.authentication_section{
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0 20px;
}

.authentication_section .userNameLabel{
    font-weight: bold;
    padding-right: 10px;
}

.authentication_section .form{
    border-top: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    padding: 20px 0;
    text-align: left;
}

.authentication_section .form h2{
    text-align: center;
}

.authentication_section .form .field{
    margin: 5px 0;
}

.authentication_section .form .field input{
    width: 100%;
}

.authentication_section .form .options{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authentication_section .form .options .leftDiv{
    display: inline-flex;
}

.authentication_section .form .options .rightDiv{
    text-align: right;
}

.authentication_section .button{
    display: inline-block;
    cursor: pointer;
    padding: 6px 9px;
    font-weight: bold;
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid #005a6a;
    filter: drop-shadow(0 0 0 #005a6a) brightness(1);
    transition: 0.2s ease;
}

.authentication_section .button:hover {
    filter: drop-shadow(0 0 1px #005a6a) brightness(1.1);
    transition: 0.2s ease;
}
  
.authentication_section .button.primary{
    background-color: #005a6a;
    color: white;
}
  
.authentication_section .button.secondary{
    background-color: white;
    color: #005a6a;
    font-style: italic;
}