
@import 'colors';

.extensionButton {
    margin: 0;
    padding: 8px 12px;

    border: 2px solid $primary-color;
    border-radius: 6px;
    
    font-size: 13px;
    font-weight: 300;

    cursor: pointer;

    &.primary{
        background-color: $primary-color;
        color: $secondary-color;
    }
      
    &.secondary{
        background-color: $secondary-color;
        color: $primary-color;
        font-style: italic;
    }

    &.small{
        padding: 6px 9px;
        font-size: 12px;
    }

    &.spaced{
        margin-left: 6px;
    }

    &.lineSpaced{
        margin-top: 12px;
    }

    &.br{
        margin-bottom: 6px;
    }

    &:hover {
        background-color: $intermediate-color;
        color: $secondary-color;
        font-style: italic;
    }
}

