
@import 'colors';

.scope_section{
  margin: 20px 0 0 0;
  padding: 0 20px;
  border-top: 2px solid $gray-borders;
  border-bottom: 1px solid $gray-borders;
  box-sizing:unset;

  & .header{
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    padding: 10px 0;

    & img{
      height: 30px;
    }

    & span{
      width: 160px;
    }
  }

  & .body{
    padding-bottom: 20px;
  }
}

.scope_section .scopeInputList{
  border-top: 1px solid $gray-borders;
  padding: 0 20px;
  padding-top: 20px;
}

.scope_section .scopeInputList .scopeInput{
  margin-bottom: 10px;
}

.scope_section .icon{
  margin-left: 8px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.scope_section .edit:hover{
  filter: drop-shadow(0 0 1px #005a6a) brightness(1.1);
}

.scope_section .delete:hover{
  filter: drop-shadow(0 0 1px red) brightness(1.1);
}

.scope_section .scopeInput span{
  cursor: pointer;
  color: rgb(0, 147, 147);
}

.scope_section .scopeInput span:hover{
  text-decoration: underline;
}


