
@import 'colors';

#btn_upload{
  margin: 12px 0 0 0;
  padding: 8px 12px;

  border: 2px solid $primary-color;
  border-radius: 6px;
  
  font-size: 13px;
  font-weight: 300;

  background-color: $secondary-color;
  color: $primary-color;
  font-style: italic;

  &:hover{
    background-color: $intermediate-color;
    color: $secondary-color;
    font-style: italic;
  }

  & input{
    display: none;
  }
}


