.result_section{
  margin: 0;
  padding: 0 20px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 2px solid #c0c0c0;
}

.result_section .header {
  padding-top: 15px;
  text-align: center;
}

.result_section .body {
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #c6c6c6;
}

.result_section .extensionButtonContainer{
  text-align: center;
  padding-bottom: 15px;
}

.conformanceLevelSelector{
  align-items: center;
  text-align: center;
}

.level-container {
  margin-bottom: 15px;
  border: 1px solid #005a6a;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.conformanceLevels {
  display: inline-flex;
  padding: 8px 12px;
  border: 1px solid #005a6a;
  cursor: pointer;
  font-size: 11px;
  background-color: white;
  color: #005a6a;
  filter: drop-shadow(0 0 0) brightness(1);
  transition: 0.2s ease-in-out;
  font-style: italic;
}

.conformanceLevels.selected {
  background-color: #005a6a;
  color: white;
  font-style: normal;
}

.conformanceLevels:hover {
  filter: drop-shadow(0 0 1px #005a6a) brightness(1.1);
}
